# Diffrent Kind of Files

* Microsoft XLSX
* Comma Seperated Values_(csv) (delimited file)
* JavaScript Object Notation_(JSON) (Open standard file format)
* Hadoop Distributed File System_(HDFS) 
* Statistical Analysis System_(SAS)
* Statistical Package for Social Sciences_(SPSS)

# Flat Files: CSV
* Store data in plain text
* No Structures replationship

In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv(r'C:\Users\user\Desktop\Git_Python\New folder\data\Iris.csv')
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
iris.shape

(150, 6)

# Reading Tab seperated file

In [4]:
#Tab seperated file is as delimiter file
# in a pd.read_csv(r'  ',sep = '\t')amazon data file missing

# Reading XLSX

* excel = pd.read_excel(r'filename.xls')

# Reading JASON file
* pd.read_json(r'filename.json')

# R eading HTML from WIKIPEDIA
* HyperTextMarkup lanhuage
* Standard markup language for doucuments
* Format structure of webpage

In [5]:
# 2021 List of states in India by past population
url = "https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population"
tabels = pd.read_html(url)

In [6]:
tabels

[     Rank     State or union territory  Population (1951 Census)[11]  \
 0       1                Uttar Pradesh                    60274800.0
 1       2                  Maharashtra                    32002500.0
 2       3                        Bihar                    29085900.0
 3       4                  West Bengal                    26300670.0
 4       5               Madhya Pradesh                    18615700.0
 5       6                   Tamil Nadu                    30119680.0
 6       7                    Rajasthan                    15971130.0
 7       8                    Karnataka                    19402500.0
 8       9                      Gujarat                    16263700.0
 9      10               Andhra Pradesh                    31115000.0
 10     11                       Odisha                    14646100.0
 11     12                    Telangana                           NaN
 12     13                       Kerala                    13549000.0
 13     14                    Jharkhand                     9697300.0
 14     15                        Assam                     8029100.0
 15     16                       Punjab                     9160990.0
 16     17                      Haryana                     5674400.0
 17     18                 Chhattisgarh                     7457700.0
 18     19            Jammu and Kashmir                     3254650.0
 19     20                  Uttarakhand                     2946900.0
 20     21             Himachal Pradesh                     2386940.0
 21     22                      Tripura                      639984.0
 22     23                    Meghalaya                      606300.0
 23     24                     Manipurβ                      578060.0
 24     25                     Nagaland                      213700.0
 25     26                          Goa                      547000.0
 26     27            Arunachal Pradesh                           NaN
 27     28                      Mizoram                      196970.0
 28     29                       Sikkim                      138093.0
 29    UT1                        Delhi                     1744500.0
 30    UT2                   Puducherry                      317407.0
 31    UT3                   Chandigarh                       24948.0
 32    UT4  Andaman and Nicobar Islands                       31480.0
 33    UT5       Dadra and Nagar Haveli                       42846.0
 34    UT6                Daman and Diu                       49482.0
 35    UT7                  Lakshadweep                       21000.0
 36  Total                        India                   361088400.0

     Population (1961 Census)[11]  Population (1971 Census)[11]  \
 0                     70144160.0                    83849775.0
 1                     39554900.0                    50412240.0
 2                     34841490.0                    42126800.0
 3                     34926000.0                    44312017.0
 4                     23218950.0                    30017180.0
 5                     33687100.0                    41199170.0
 6                     20156540.0                    25765810.0
 7                     23587910.0                    29299015.0
 8                     20633305.0                    26697488.0
 9                     35983480.0                    43502710.0
 10                    17549500.0                    21944625.0
 11                           NaN                           NaN
 12                    16904560.0                    21347300.0
 13                    11606504.0                    14227493.0
 14                    10837700.0                    14625157.0
 15                    11135404.0                    13551069.0
 16                     7591190.0                    10036430.0
 17                     9154330.0                    11637800.0
 18                     3561100.0                     4616632.0
 19                     3611200.0                     4493800.0
 20                     2812300.0                     3460434.0
 21                     1142282.0                     1556342.0
 22                      769990.0                     1011699.0
 23                      780340.0                     1073509.0
 24                      369309.0                      516110.0
 25                      590875.0                      795997.0
 26                      337300.0                      468885.0
 27                      266200.0                      332190.0
 28                      162863.0                      210205.0
 29                     2659990.0                     4066400.0
 30                      369355.0                      472836.0
 31                      120480.0                      257100.0
 32                       64160.0                      115874.0
 33                       58020.0                       74880.0
 34                       37587.0                       63000.0
 35                       24370.0                       32900.0
 36                   439235720.0                   548160050.0

     Population (1981 Census)[11]  Population (1991 Census)[11]  \
 0                    105113300.0                   132062800.0
 1                     62782820.0                    78937190.0
 2                     52303000.0                    64531200.0
 3                     54580650.0                    68077970.0
 4                     38169500.0                    48566800.0
 5                     48408080.0                    55859300.0
 6                     34361860.0                    44005990.0
 7                     37135710.0                    44977200.0
 8                     34085800.0                    41309580.0
 9                     53551030.0                    66508170.0
 10                    26370270.0                    31659740.0
 11                           NaN                           NaN
 12                    25453680.0                    29098523.0
 13                    17612000.0                    21844550.0
 14                    18041250.0                    22414320.0
 15                    16788920.0                    20281971.0
 16                    12922122.0                    16464600.0
 17                    14010110.0                    17615600.0
 18                     5987389.0                     7718700.0
 19                     5726550.0                     7051600.0
 20                     4280818.0                     5170877.0
 21                     2053058.0                     2757205.0
 22                     1335819.0                     1774778.0
 23                     1421290.0                     1837900.0
 24                      775570.0                     1210492.0
 25                     1008373.0                     1170115.0
 26                      632502.0                      865900.0
 27                      494440.0                      690963.0
 28                      316840.0                      406000.0
 29                     6220973.0                     9421311.0
 30                      604281.0                      808117.0
 31                      452960.0                      642374.0
 32                      189496.0                      281990.0
 33                      104300.0                      138290.0
 34                       79842.0                      102110.0
 35                       40250.0                       52820.0
 36                   683329900.0                   846421830.0

     Population (2001 Census)[11]  Population (2011 Census)[11]
 0                   1.660536e+08                     199581477
 1                   9.675250e+07                     112372972
 2                   8.287991e+07                     103804630
 3                   8.022130e+07                      91347736
 4                   6.038509e+07                      72597565
 5                   6.211139e+07                      72138958
 6                   5.647330e+07                      68621012
 7                   5.273499e+07                      61130704
 8                   5.059720e+07                      60383628
 9                   7.572840e+07                      49386799
 10                  3.670790e+07                      41947358
 11                           NaN                      35193978
 12                  3.183900e+07                      33387677
 13                  2.694607e+07                      32988134
 14                  2.663860e+07                      31169272
 15                  2.428913e+07                      27704236
 16                  2.108390e+07                      25753081
 17                  2.083453e+07                      25540196
 18                  1.007030e+07                      12548926
 19                  8.489100e+06                      10116752
 20                  6.077453e+06                       6856509
 21                  3.191880e+06                       3671032
 22                  2.306540e+06                       2964007
 23                  2.294480e+06                       2721756
 24                  1.990275e+06                       1980602
 25                  1.348900e+06                       1457723
 26                  1.098328e+06                       1382611
 27                  8.896900e+05                       1091014
 28                  5.419020e+05                        607688
 29                  1.385150e+07                      16753235
 30                  9.748200e+05                       1244464
 31                  9.010800e+05                       1054686
 32                  3.566500e+05                        379944
 33                  2.209630e+05                        342853
 34                  1.580800e+05                        242911
 35                  6.130000e+04                         64429
 36                  1.028738e+09                    1210193422  ,
     States and union territories of India ordered by
 0  Area Population GDP (per capita) Abbreviations...
 1  .mw-parser-output .navbar{display:inline;font-...]

In [7]:
# To check how many tabels we read
len(tabels)

2

In [8]:
# How to check the tabels inside the page by using "indexes"
tabels[0]

,Rank,State or union territory,Population (1951 Census)[11],Population (1961 Census)[11],Population (1971 Census)[11],Population (1981 Census)[11],Population (1991 Census)[11],Population (2001 Census)[11],Population (2011 Census)[11]
0,1,Uttar Pradesh,60274800.0,70144160.0,83849775.0,105113300.0,132062800.0,1.660536e+08,199581477
1,2,Maharashtra,32002500.0,39554900.0,50412240.0,62782820.0,78937190.0,9.675250e+07,112372972
2,3,Bihar,29085900.0,34841490.0,42126800.0,52303000.0,64531200.0,8.287991e+07,103804630
3,4,West Bengal,26300670.0,34926000.0,44312017.0,54580650.0,68077970.0,8.022130e+07,91347736
4,5,Madhya Pradesh,18615700.0,23218950.0,30017180.0,38169500.0,48566800.0,6.038509e+07,72597565
5,6,Tamil Nadu,30119680.0,33687100.0,41199170.0,48408080.0,55859300.0,6.211139e+07,72138958
6,7,Rajasthan,15971130.0,20156540.0,25765810.0,34361860.0,44005990.0,5.647330e+07,68621012
7,8,Karnataka,19402500.0,23587910.0,29299015.0,37135710.0,44977200.0,5.273499e+07,61130704
8,9,Gujarat,16263700.0,20633305.0,26697488.0,34085800.0,41309580.0,5.059720e+07,60383628
9,10,Andhra Pradesh,31115000.0,35983480.0,43502710.0,53551030.0,66508170.0,7.572840e+07,49386799
10,11,Odisha,14646100.0,17549500.0,21944625.0,26370270.0,31659740.0,3.670790e+07,41947358
11,12,Telangana,NaN,NaN,NaN,NaN,NaN,NaN,35193978
12,13,Kerala,13549000.0,16904560.0,21347300.0,25453680.0,29098523.0,3.183900e+07,33387677
13,14,Jharkhand,9697300.0,11606504.0,14227493.0,17612000.0,21844550.0,2.694607e+07,32988134
14,15,Assam,8029100.0,10837700.0,14625157.0,18041250.0,22414320.0,2.663860e+07,31169272
15,16,Punjab,9160990.0,11135404.0,13551069.0,16788920.0,20281971.0,2.428913e+07,27704236
16,17,Haryana,5674400.0,7591190.0,10036430.0,12922122.0,16464600.0,2.108390e+07,25753081
17,18,Chhattisgarh,7457700.0,9154330.0,11637800.0,14010110.0,17615600.0,2.083453e+07,25540196
18,19,Jammu and Kashmir,3254650.0,3561100.0,4616632.0,5987389.0,7718700.0,1.007030e+07,12548926
19,20,Uttarakhand,2946900.0,3611200.0,4493800.0,5726550.0,7051600.0,8.489100e+06,10116752
20,21,Himachal Pradesh,2386940.0,2812300.0,3460434.0,4280818.0,5170877.0,6.077453e+06,6856509
21,22,Tripura,639984.0,1142282.0,1556342.0,2053058.0,2757205.0,3.191880e+06,3671032
22,23,Meghalaya,606300.0,769990.0,1011699.0,1335819.0,1774778.0,2.306540e+06,2964007
23,24,Manipurβ,578060.0,780340.0,1073509.0,1421290.0,1837900.0,2.294480e+06,2721756
24,25,Nagaland,213700.0,369309.0,516110.0,775570.0,1210492.0,1.990275e+06,1980602
25,26,Goa,547000.0,590875.0,795997.0,1008373.0,1170115.0,1.348900e+06,1457723
26,27,Arunachal Pradesh,NaN,337300.0,468885.0,632502.0,865900.0,1.098328e+06,1382611
27,28,Mizoram,196970.0,266200.0,332190.0,494440.0,690963.0,8.896900e+05,1091014
28,29,Sikkim,138093.0,162863.0,210205.0,316840.0,406000.0,5.419020e+05,607688
29,UT1,Delhi,1744500.0,2659990.0,4066400.0,6220973.0,9421311.0,1.385150e+07,16753235
30,UT2,Puducherry,317407.0,369355.0,472836.0,604281.0,808117.0,9.748200e+05,1244464
31,UT3,Chandigarh,24948.0,120480.0,257100.0,452960.0,642374.0,9.010800e+05,1054686
32,UT4,Andaman and Nicobar Islands,31480.0,64160.0,115874.0,189496.0,281990.0,3.566500e+05,379944
33,UT5,Dadra and Nagar Haveli,42846.0,58020.0,74880.0,104300.0,138290.0,2.209630e+05,342853
34,UT6,Daman and Diu,49482.0,37587.0,63000.0,79842.0,102110.0,1.580800e+05,242911
35,UT7,Lakshadweep,21000.0,24370.0,32900.0,40250.0,52820.0,6.130000e+04,64429
36,Total,India,361088400.0,439235720.0,548160050.0,683329900.0,846421830.0,1.028738e+09,1210193422

In [9]:
tabels[1]

    States and union territories of India ordered by
0  Area Population GDP (per capita) Abbreviations...
1  .mw-parser-output .navbar{display:inline;font-...

# Reading MYSQL data

In [10]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\user\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\user\anaconda3\lib\site-packages (from mysql) (2.0.3)

In [11]:
import mysql.connector as sql

# creating connection
db = sql.connect(host = 'localhost' , user = 'root' , passwd = 'amjad@143', database = 'amjad' , 
                 auth_plugin = 'mysql_native_password')

queery = "select * from employee"
data = pd.read_sql(query.db)

## SAS(statistical analysis system) 
df = pd.read_sas('filename.sas7bdat')

# To read SPSS
* Statical package for social sciences

In [12]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\user\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: pandas>0.24.0 in c:\users\user\anaconda3\lib\site-packages (from pyreadstat) (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>0.24.0->pyreadstat) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadstat) (1.15.0)

In [13]:
import pyreadstat

df , meta = pyreadstat.read_sas7bdt(filename.sas7bdat)

* Toread : 
pandas.read_spss

df pd.read_spss('filename.sav')